/* ------------------------------------ *\
    #TEXT
\* ------------------------------------ */

/*
 * Paragraph base styles
 */
p {
  margin: 0 0 $space;
  padding: 0;
}

.brand {
  font-size: 6em;
}
