<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: rgb(57, 109, 255);"></span>
		<span class="sg-label">
			$color-brand-blue <br />
			rgb(57, 109, 255) <br />
			#396dff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(38, 38, 38);"></span>
		<span class="sg-label">
			$color-brand-dark-gray <br />
			rgb(38, 38, 38) <br />
			#262626
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(234, 234, 234);"></span>
		<span class="sg-label">
			$color-brand-light-gray <br />
			rgb(234, 234, 234) <br />
			#eaeaea
		</span>
	</li>
</ul>
