<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: rgb(255, 206, 8);"></span>
		<span class="sg-label">
						$color-yellow <br />
            rgb(255, 206, 8) <br />
						#ffce08
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(57, 40, 189);"></span>
		<span class="sg-label">
						$color-dark-blue <br />
            rgb(57, 40, 189) <br />
						#3928bd
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(255, 87, 59);"></span>
		<span class="sg-label">
						$color-poppy <br />
            rgb(255, 87, 59) <br />
						#ff573b
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(42, 216, 145);"></span>
		<span class="sg-label">
						$color-green <br />
            rgb(42, 216, 145) <br />
						#2ad891
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(235, 65, 159);"></span>
		<span class="sg-label">
						$color-fuschia <br />
            rgb(235, 65, 159) <br />
						#eb419f
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(255, 255, 255);"></span>
		<span class="sg-label">
						$color-white <br />
            rgb(235, 255, 255) <br />
						#ffffff
        </span>
	</li>
</ul>
