<div class="sidebar-nav">
  {{> molecules-sidebar-nav-buttons }}
  <ul class="sidebar-nav__links">
    <li class="sidebar-nav__link"><a href="#"><span>About AFSP</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Chapters</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Walks</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Non-Walk Fundraising</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Research</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Prevention Education</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Advoacy &amp; Public Policy</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Loss &amp; Healing</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Project 2025</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Communications</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Program Trackers</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Staff Links</span></a></li>
    <li class="sidebar-nav__link"><a href="#"><span>Help</span></a></li>
  </ul>
</div>