<header class="site-header">
  {{> molecules-site-logo }}
  <div class="mobile-nav s-col-3">
    {{# listItems.two }}
      {{> atoms-icon-button }}
    {{/ listItems.two }}
  </div>
  {{> molecules-search-bar }}
</header>