<div class="main">
  <h1 class="{{ title.titleClass }}">{{ title.titleText }} <span class="hl-brand-blue">{{ title.searchText }}</span></h1>
  <ul class="item-list">
    {{# listItems.eight }}
      {{> molecules-single-list-item }}
    {{/ listItems.eight }}
  </ul>
</div>