.bg-brand-blue {
  background-color: $color-brand-blue;
}

.bg-brand-dark-gray {
  background-color: $color-brand-dark-gray;
}

.bg-brand-light-gray {
  background-color: $color-brand-light-gray;
}

.bg-yellow {
  background-color: $color-yellow;
}

.bg-dark-blue {
  background-color: $color-dark-blue;
}

.bg-poppy {
  background-color: $color-poppy;
}

.bg-green {
  background-color: $color-green;
}

.bg-fuschia {
  background-color: $color-fuschia;
}

.bg-white {
  background-color: $color-white;
}
