.color-brand-blue {
  color: $color-brand-blue;
}

.color-brand-dark-gray {
  color: $color-brand-dark-gray;
}

.color-brand-light-gray {
  color: $color-brand-light-gray;
}

.color-yellow {
  color: $color-yellow;
}

.color-dark-blue {
  color: $color-dark-blue;
}

.color-poppy {
  color: $color-poppy;
}

.color-green {
  color: $color-green;
}

.color-fuschia {
  color: $color-fuschia;
}

.color-white {
  color: $color-white;
}
