<div class="login-form__container">
  <h1 class="login-form__header col-12">Welcome to ChapterLand!</h1>
  <p class="login-form__info m-col-9">Access to ChapterLand requires a username and password. 
     If you don’t have one, you can request access by contacting your Chapter’s area director.</p>
  <form class="login-form__form m-col-9">
    <div class="login-form__input-container">
      <label class="col-3" for="username">Username</label><input class="col-9" id="username" type="text">
    </div>
    <div class="login-form__input-container">
      <label class="col-3" for="password">Password</label><input class="col-9" id="password" type="password">
    </div>
    <div>
      <button type="submit">Log In</button>
    </div>
  </form>
  <p><a href="#">Forgot password?</a></p>
</div>