<div class="main">
  <h1 class="{{ title.titleClass }}">{{ title.titleText }}</h1>
  <ul class="item-list">
    {{# listItems.eight }}
      {{> molecules-single-list-item }}
    {{/ listItems.eight }}
  </ul>
</div>